<meta name="author" content="Morgane"/>
<meta name="description" content="Les bières bretonnes"/>
<meta name="keywords" content="biere, bieres bretonnes, brasseries bretonnes"/>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
<title>Bières de Bretagne</title>
<!-- <link rel="stylesheet" href="/css/style.css"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/myStyles.css">