<!-- <div id="burger_btn" class="burger_boite"><a href="#" class="burger"></a></div>
<nav id="main_nav">
   <ul class="menu">
       <li><a class="navItem" href = "/">Accueil</a></li>
       <li><a class="navItem" href = "/carte">Carte</a></li>
       <li><a class="navItem" href = "/brasseries">Brasseries</a></li>
       <li><a class="navItem" href = "/coup_de_coeur">Coup de coeur</a></li>
       <li><a class="navItem" href = "/contact">Contact</a></li>
   </ul>
</nav> -->


 <nav class="navbar navbar-inverse navbar-static-top navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand navbar-text" href="/">Bières de Bretagne</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-text">
        <li><a href="/">Accueil</a></li>
        <li><a href="/brasseries">Brasseries</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right navbar-text">
        <li><%- include search %></li>
      </ul>
    </div>
  </div>
</nav> 

