<form action="/recherche" id="searchForm" method="POST">
    <input class="searchInput" name="search" type="text" placeholder=" Chercher sur le site..." required />
    <input class="btn" type="submit" value="OK" />
</form>
