<!DOCTYPE html>
<html>

<head>
    <%- include partials/head %>
</head>

<body id="accueilBody">

    <%- include partials/navbar %>

        <div class="siteTitle container pageBody">

            <h1>Bières de Bretagne</h1>
            
            <p>Bienvenue sur ce site d'information consacré aux bières bretonnes !</p>
            <p>Bonne dégustation !</p>

        </div>
</body>

</html>
