<!DOCTYPE html>
<html>
    <head>
        <%- include partials/head %>
    </head>
    <body>

        <%- include partials/navbar %>

         <div class="pageBody">
            <%- include partials/search %>

            <div id="form_admin_brass">
                Entrer une nouvelle brasserie dans la base
                <% if(typeof brassSuccess!='undefined' && brassSuccess == 'Y'){%>
                <div class="insert_msg">Insertion dans la base de données réussie.</div>
                <% } %>

                <% if(typeof brassSuccess!='undefined' && brassSuccess == 'N'){%>
                <div class="insert_msg">Echec lors de l'insertion dans la base de données.</div>
                <% } %>
                <form action="/admin/insert_brass" method="POST">
                    <table class="table_admin">
                        <tr>
                            <td><label for="brassNom">Nom</label></td>
                            <td><input name="brassNom" type="text" placeholder=" " required></td>
                        </tr>
                        <tr>
                            <td><label for="brassAdresse">Adresse</label></td>
                            <td><input name="brassAdresse" type="text" placeholder=" "></td>
                        </tr>
                        <tr>
                            <td><label for="brassVille">Ville</label></td>
                            <td><input name="brassVille" type="text" placeholder=" "></td>
                        </tr>
                        <tr>
                            <td><label for="brassCode">Code Postal</label></td>
                            <td><input name="brassCode" type="text" placeholder=" "></td>
                        </tr>
                        <tr>
                            <td><label for="brassLogo">Logo</label></td>
                            <td><input name="brassLogo" type="text" placeholder=" "></td>
                        </tr>
                        <tr>
                            <td><label for="brassSite">Site</label></td>
                            <td><input name="brassSite" type="text" placeholder=" "></td>
                        </tr>
                        <tr>
                            <td><input class="btn" type="submit"></td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="stars">
                * * * * * * * * * * *
            </div>
            <div id="form_admin_biere">
                Entrer une nouvelle bière dans la base
                <% if(typeof biereSuccess!='undefined' && biereSuccess == 'Y'){%>
                <div class="insert_msg">Insertion dans la base de données réussie.</div>
                <% } %>

                <% if(typeof biereSuccess!='undefined' && biereSuccess == 'N'){%>
                <div class="insert_msg">Echec lors de l'insertion dans la base de données.</div>
                <% } %>
                <form action="/admin/insert_biere" method="POST">
                   <table class="table_admin">
                       <tr>
                           <td><label for="biereNom">Nom</label></td>
                           <td><input name="biereNom" type="text" placeholder=" " required></td>
                       </tr>
                       <tr>
                           <td><label for="biereDegres">Degrés</label></td>
                           <td><input name="biereDegres" type="text" placeholder=" "></td>
                       </tr>
                       <tr>
                           <td><label for="biereType">Famille</label></td>
                           <td><input name="biereType" type="text" placeholder="  "></td>
                       </tr>
                       <tr>
                           <td><label for="biereBrass">Brasserie</label></td>
                           <td><input name="biereBrass" type="text" placeholder=" " required></td>
                       </tr>
                       <tr>
                           <td><label for="biereDesc">Description</label></td>
                           <td><textarea name="biereDesc" cols="30" rows="10" placeholder=" "></textarea></td>
                       </tr>
                       <tr>
                           <td><label for="bierePhoto">Photo</label></td>
                           <td><input name="bierePhoto" type="text" placeholder=" "></td>
                       </tr>
                       <tr>
                           <td><input class="btn" type="submit"></td>
                       </tr>
                   </table>
                </form>
            </div>
        </div>
    </body>
</html>
