<!DOCTYPE html>
<html>
    <head>
        <%- include partials/head %>
    </head>
    <body>


        <%- include partials/navbar %>

         <div class="pageBody">
            <%- include partials/search %>

            <form id="passwordForm" action="">
                <ul>
                    <li>
                        <label for="password">Votre mot de passe</label>
                        <input class="txtInput" name="password" type="password">
                    </li>
                    <li>
                        <input class="btn" type="submit" value="Connexion">
                    </li>
                </ul>
            </form>
        </div>
    </body>
</html>
