<!DOCTYPE html>
<html>

<head>
    <%- include partials/head %>
</head>

<body id="brasseriesBody">

    <%- include partials/navbar %>

        <div class="container pageBody">

            <div class="row liste_brasseries">
                <% for(var i=0 ; i<items.length ; i++){ %>
                    <div class=" col-lg-3 col-sm-6 div_brasserie">
                        <p><a class="nom_brasserie" href="/fiche_brasserie/<%= items[i].nom %>"><img width="200px" height="200px" src="/images/<%= items[i].nom %>/<%= items[i].nom %>.svg"></a></p>
                        <!-- 
                       <p><a class="nom_brasserie" href="/fiche_brasserie/<%= items[i].nom %>"><%= items[i].nom %></a>  </p>
                        <p> <%= items[i].ville + ' ' + '(' +items[i].code_postal + ')' %> </p>
                        <p><a class="site_brasserie" href="<%= items[i].site %>"> Site </a></p>
                         -->
                    </div>
                    <% } %>
            </div>

        </div>
</body>

</html>
