<!DOCTYPE html>
<html>
<head>
     <%- include partials/head %>
</head>
<body>
       <%- include partials/navbar %>

         <div class="container pageBody">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="goldenTxt">Vous souhaitez me contacter ?</p>

                    <form action="/contact/sendMail" method="POST">
                       <ul class="contactForm">
                           <li>
                               <label for="nom">Votre nom</label>
                               <input class="txtInput" name="nom" type="text" required>
                           </li>
                           <li>
                                <label for="mail">Votre adresse email</label>
                                <input class="txtInput" name="mail" type="text" required>
                           </li>
                           <li>
                                <label for="msg">Votre message</label>
                                <textarea class="txtInput" name="msg" required></textarea>
                           </li>
                           <li>
                               <input class="btn" type="submit" value="Envoyer">
                           </li>
                       </ul>
                    </form>
                </div>             
             </div>
        </div>
    </body>
</html>