<!DOCTYPE html>
<html>
    <head>
        <%- include partials/head %>
    </head>
    <body>


        <%- include partials/navbar %>

         <div class="container pageBody">

            <div class="row">
                <div class="col-lg-12 text-center">
               
                   <p class="fiche_biere_nom">
                       <%= (item.nomBiere).toUpperCase() %>
                   </p>
                   <p>
                       <%= "Bière " + item.famille + " - " + item.degres + "%" %>
                   </p>
                   <p>
                      Brasserie : <a class="fiche_biere_lien_brass" href="/fiche_brasserie/<%= item.nomBrass %>"><%= item.nomBrass %></a>
                   </p>

                   <div class="flex_biere">

                            <img src="/images/<%= item.nomBrass %>/bieres/<%= item.photo %>" alt="<%= item.photo %>">

                       <p class="fiche_biere_description">
                           <%= item.description %>
                       </p>
                   </div>
                   
                </div>
            </div>

        </div>

        <div>
            <a class="returnLink" href="/fiche_brasserie/<%= item.nomBrass %>">Retour brasserie</a>
        </div>
    </body>
</html>
