<!DOCTYPE html>
<html>

<head>
    <%- include partials/head %>
</head>

<body>

    <%- include partials/navbar %>

        <div class="container pageBody">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="fiche_brasserie_nom">
                        <%= (items[0].nom).toUpperCase() %>
                    </p>
                    <p>
                        <a class="fiche_brasserie_site" href="<%= items[0].site %>">
                            <%= items[0].site %>
                        </a>
                    </p>
                    <p>
                        <img class="capsule" src="/images/<%= items[0].nom %>/<%= items[0].nom %>.svg">
                    </p>
                    <div class="fiche_brasserie_adresse">
                        <p>
                            <%= items[0].adresse %>
                        </p>
                        <p>
                            <%= items[0].code_postal %>
                                <span id="ville"><%= items[0].ville %></span>
                        </p>
                    </div>
                    <p>
                        La liste des bières sera dispo quand la développeuse aura fini de les boire... Merci de votre compréhension
                    </p>
                </div>
            </div>
        </div>

        <div>
            <a class="returnLink" href="/brasseries">Retour liste brasseries</a>
        </div>
        <div id="map" style="width: 100%; height: 480px;"></div>
        <script>
            var geocoder;
            var map;
            var city = document.getElementById("ville").innerHTML;
            console.log("city :" + city);

            function initialize() {
                geocoder = new google.maps.Geocoder();
                var latlng = new google.maps.LatLng(48.084, -2.771);
                var mapOptions = {
                    zoom: 8,
                    center: latlng
                }
                map = new google.maps.Map(document.getElementById('map'), mapOptions);
                codeAddress();
            }

            function codeAddress() {
                var address = city;
                geocoder.geocode({
                    'address': address
                }, function(results, status) {
                    if (status == 'OK') {
                        var beerIcon = '/images/pointeur_biere.svg';
                        var marker = new google.maps.Marker({
                            map: map,
                            animation: google.maps.Animation.DROP,
                            position: results[0].geometry.location,
                            icon: beerIcon
                        });
                    } else {
                        alert('Geocode was not successful for the following reason: ' + status);
                    }
                });
            }

        </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAI-Shun9r04Z292Led4ZKng0RPag3DG54&callback=initialize"></script>
        
</body>

</html>
