<!DOCTYPE html>
<html>

<head>
    <%- include partials/head %>
</head>

<body id="ficheBrasserie" onload="initialize()">


    <%- include partials/navbar %>

        <div class="container pageBody">
            <div class="row">
                <div class="col-lg-6 align-items-center text-center">

                    <p class="fiche_brasserie_nom">
                        <%= (items[0].nomBrass).toUpperCase() %>
                    </p>
                    <p class="fiche_brasserie_logo">
                        <img class="capsule" src="/images/<%= items[0].nomBrass %>/<%= items[0].nomBrass %>.svg">
                    </p>
                    <p>
                        <a class="fiche_brasserie_site" href="<%= items[0].site %>">
                            <%= items[0].site %>
                        </a>
                    </p>
                    <div class="fiche_brasserie_adresse">
                        <p>
                            <%= items[0].adresse %>
                        </p>
                        <p>
                            <%= items[0].code_postal %><span id="ville"><%= items[0].ville %></span></p>
                    </div>
                    <div id="map" class="text-center" style="width: 90%; height: 200px;"></div>
                </div>
                <div class="bieresList col-lg-6">
                    <p>
                        Bières de chez <%= items[0].nomBrass %> à déguster :
                    </p>

                    <table class="table">
                        <% for(var i=0 ; i<items.length ; i++){ %>
                            <tr>
                                <td class="td_type">
                                    <%= items[i].famille %>
                                </td>
                                <td class="td_biere">
                                    <a href="/fiche_biere/<%= items[i].nomBiere %>">
                                        <%= items[i].nomBiere %>
                                    </a>
                                </td>
                                <td class="td_degres">
                                    <%= items[i].degres %>%
                                </td>
                            </tr>
                        <% } %>
                    </table>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates nihil quasi officiis blanditiis, vel illo quam mollitia earum natus aliquam quas enim quo, dicta animi omnis alias temporibus porro </p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates nihil quasi officiis blanditiis, vel illo quam mollitia earum natus aliquam quas enim quo, dicta animi omnis alias temporibus porro </p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates nihil quasi officiis blanditiis, vel illo quam mollitia earum natus aliquam quas enim quo, dicta animi omnis alias temporibus porro </p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates nihil quasi officiis blanditiis, vel illo quam mollitia earum natus aliquam quas enim quo, dicta animi omnis alias temporibus porro </p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates nihil quasi officiis blanditiis, vel illo quam mollitia earum natus aliquam quas enim quo, dicta animi omnis alias temporibus porro </p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates nihil quasi officiis blanditiis, vel illo quam mollitia earum natus aliquam quas enim quo, dicta animi omnis alias temporibus porro </p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates nihil quasi officiis blanditiis, vel illo quam mollitia earum natus aliquam quas enim quo, dicta animi omnis alias temporibus porro </p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates nihil quasi officiis blanditiis, vel illo quam mollitia earum natus aliquam quas enim quo, dicta animi omnis alias temporibus porro </p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates nihil quasi officiis blanditiis, vel illo quam mollitia earum natus aliquam quas enim quo, dicta animi omnis alias temporibus porro </p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates nihil quasi officiis blanditiis, vel illo quam mollitia earum natus aliquam quas enim quo, dicta animi omnis alias temporibus porro </p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates nihil quasi officiis blanditiis, vel illo quam mollitia earum natus aliquam quas enim quo, dicta animi omnis alias temporibus porro </p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates nihil quasi officiis blanditiis, vel illo quam mollitia earum natus aliquam quas enim quo, dicta animi omnis alias temporibus porro </p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates nihil quasi officiis blanditiis, vel illo quam mollitia earum natus aliquam quas enim quo, dicta animi omnis alias temporibus porro </p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates nihil quasi officiis blanditiis, vel illo quam mollitia earum natus aliquam quas enim quo, dicta animi omnis alias temporibus porro </p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates nihil quasi officiis blanditiis, vel illo quam mollitia earum natus aliquam quas enim quo, dicta animi omnis alias temporibus porro </p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates nihil quasi officiis blanditiis, vel illo quam mollitia earum natus aliquam quas enim quo, dicta animi omnis alias temporibus porro </p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates nihil quasi officiis blanditiis, vel illo quam mollitia earum natus aliquam quas enim quo, dicta animi omnis alias temporibus porro </p>
                </div>
            </div>
        </div>

        <div>
            <a class="returnLink" href="/brasseries">Retour liste brasseries</a>
        </div>

        <script>
            var geocoder;
            var map;
            var city = document.getElementById("ville").innerHTML;
            console.log("city :" + city);

            function initialize() {
                geocoder = new google.maps.Geocoder();
                var latlng = new google.maps.LatLng(48.084, -2.771);
                var mapOptions = {
                    zoom: 6.5,
                    center: latlng
                }
                map = new google.maps.Map(document.getElementById('map'), mapOptions);
                codeAddress();
            }

            function codeAddress() {
                var address = city;
                geocoder.geocode({
                    'address': address
                }, function(results, status) {
                    if (status == 'OK') {
                        var beerIcon = '/images/pointeur_biere.svg';
                        var marker = new google.maps.Marker({
                            map: map,
                            animation: google.maps.Animation.DROP,
                            position: results[0].geometry.location,
                            icon: beerIcon
                        });
                    } else {
                        alert('Geocode was not successful for the following reason: ' + status);
                    }
                });
            }
        </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAI-Shun9r04Z292Led4ZKng0RPag3DG54&callback=initialize">
        </script>

</body>

</html>