<!DOCTYPE html>
<html>
<head>
     <%- include partials/head %>
</head>
<body>
       <%- include partials/navbar %>
      
      <p>Merci <%= personne %> votre mail à été envoyé !</p>

    </body>
</html>