<!DOCTYPE html>
<html>
    <head>
        <%- include partials/head %>
    </head>
    <body>

        <%- include partials/navbar %>

         <div class="pageBody">
            <div>
                Votre recherche : <%= searched %>
            </div>
                <div id="searchResults">
                    Résultat(s) par catégorie(s):

                    <% tab.forEach(function(){
                        if (tab.resultats.length > 0){ %>

                         <div>
                             <%= tab.titre  %>
                             <ul>
                                <% tab.resultats.forEach(function(){ %>
                                    <li><%= tab.resultats %></li>

                                <% }) %>
                             </ul>
                         </div>

                      <%  }

                    }) %>
            </div>
        </div>
    </body>
</html>
