<!DOCTYPE html>
<html>
    <head>
        <%- include partials/head %>
    </head>
    <body>

        <%- include partials/navbar %>

         <div class="pageBody">
           
            <div>
                Votre recherche : <%= searched %>
            </div>
            <div>
                Désolé, nous ne trouvons pas de résultat à votre recherche...
            </div>
        </div>
    </body>
</html>
