<!DOCTYPE html>
<html>
    <head>
        <%- include partials/head %>
    </head>
    <body>

        <%- include partials/navbar %>

         <div class="pageBody">
            <div>
                Votre recherche : <%= searched %>
            </div>
            <div id="searchResults">
                Résultat(s) par catégorie(s):

                <% if(resBrass != undefined){ %>
                    <div>
                        ᑀ Brasserie
                        <ul>
                            <% resBrass.forEach(function(resBrass){ %>
                                <li><a href="/fiche_brasserie/<%= resBrass.nom %>"><%= resBrass.nom %></a></li>
                            <% }) %>
                        </ul>
                    </div>
                <% } %>

                <% if(resBiere != undefined){ %>
                    <div>
                        ᑀ Nom de bière
                        <ul>
                            <% resBiere.forEach(function(resBiere){  %>
                                <li><a href="/fiche_biere/<%= resBiere.nom %>"><%= resBiere.nom %></a></li>
                            <% }) %>
                        </ul>
                    </div>
                <% } %>

                <% if(resVille != undefined){ %>
                    <div>
                        ᑀ Ville
                        <ul>
                            <% resVille.forEach(function(resVille){  %>
                                <li><a href="/fiche_brasserie/<%= resVille.nom %>"><%= resVille.nom %></a></li>
                            <% }) %>
                        </ul>
                    </div>
                <% } %>

                <% if(resType != undefined){ %>
                    <div>
                        ᑀ Type de bière
                        <ul>
                            <% resType.forEach(function(resType){ %>
                                    <li><a href="/fiche_biere/<%= resType.nom %>"><%= resType.nom %></a></li>
                             <% }) %>
                        </ul>
                    </div>
                <% } %>

                <% if(resDescr != undefined){ %>
                    <div>
                        ᑀ Description
                        <ul>
                            <% resDescr.forEach(function(resDescr){  %>
                                <li><a href="/fiche_biere/<%= resDescr.nom %>"><%= resDescr.nom %></a></li>
                            <% }) %>
                        </ul>
                    </div>
                <% } %>
            </div>
        </div>
    </body>
</html>
