.navbar-brand {
    font-size: 2.6em;
}

.navbar-inverse .navbar-brand {
    color: rgb(189, 152, 82);
}

.navbar-inverse .navbar-nav > li > a {
    color: rgb(189, 152, 82);
}

html {
    height: 100%;
    width: 100%;
}

body {
    padding-top: 100px;
    background-color: black;
    color: white;
}

.searchInput,
.txtInput {
    background-color: rgb(189, 152, 82);
    border-width: 0px;
}

.btn {
    display: inline-block;
    padding: 5px;
    font-size: -0.7em;
    margin: 5px;
    background: rgb(189, 152, 82);
    color: black;
    border: 1px solid black;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

/****** Page accueil ******/

#accueilBody {
    background-image: url(/images/beer-1667151.jpg);
    /*background-position: center center;*/
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    text-align: center;
    margin-top: 15%;
}
.siteTitle{
    background-color: rgba(0,0,0,0.2);
}


/****** Page brasserie ******/

#brasseriesBody {
    /* background-image: url(/images/beer-blur.png);*/
    background-image: url(/images/beer-1667151.jpg);
    /*background-position: center center;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/****** Fiche brasserie ******/

#ficheBrasserie{
    background-image: url(/images/beer-flou.jpg);
    background-size: cover;
    background-attachment: fixed;
}
#ficheBrasserie a{
    text-decoration: none;
    color: #fff;
}
.bieresList{
    background-color: rgba(0,0,0,0.2);
}
.capsule {
    max-width: 200px;
}
.returnLink{
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
}
