body{
    background-color: black;
    color: white;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    max-width: 1400px;
}

header {
    height: 90px;
}

h1 {
    font-weight:normal;
    color: rgb(189,152,82);
    font-size: 2.6em;
}

.burger_boite {
    display: none;
}

nav {
    background-color: black;
    float: left;
    width: 250px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    padding-top: 30px;
    padding-bottom: 10px;
}

.navItem {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
}

.navItem:hover{
    color: rgb(189,152,82);
}

.displayedPage {
    color: rgb(189,152,82);
}

#adminItem {
    font-size: 1em;
    position: absolute;
    bottom: 15px;
    left: 10px;
}

.pageBody{
    /*background-color: darkcyan;*/
    margin-left: 250px;
    margin-right: 20px;
}

#searchForm {
    /*background-color: brown;*/
    text-align: right;
}

.searchInput, .txtInput {
    background-color: rgb(189,152,82);
    border-width: 0px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: black;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}
::-moz-placeholder { /* Firefox 19+ */
    color: black;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}
:-ms-input-placeholder { /* IE 10+ */
    color: black;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}
:-moz-placeholder { /* Firefox 18- */
    color: black;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

.goldenTxt {
    color: rgb(189,152,82);
}

.returnLink {
    text-decoration: none;
    color: rgb(189,152,82);
    font-size: 0.7em;
}

.btn{
    display: inline-block;
    padding: 5px;
    font-size: -0.7em;
    margin: 5px;
    background: rgb(189,152,82);
    color: black;
    border: 1px solid black;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

.btn:hover {
    background: black;
    color: rgb(189,152,82);
}


/****** Page accueil ******/

#accueilBody {
    background-image: url(/images/beer-199650_1920.jpg);
}


/****** Page carte ******/

#searchMapForm {
    margin: 10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
}

#searchMapForm label {
    margin:0 0 3px 0;
    padding:0px;
}


/****** Page contact ******/

.contactForm {
    max-width: 400px;
    padding: 20px 10px 10px 20px;
}

.contactForm li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}

.contactForm label {
    margin:0 0 3px 0;
    padding:0px;
    display:block;
}

.contactForm textarea {
    height: 150px;
    width: 300px;
}


/****** Page Admin ******/

#form_admin_brass,#form_admin_biere{
    color: rgb(189,152,82);
}

#form_admin_brass label,#form_admin_biere label{
    color: white;
}

.table_admin{
    padding-top: 20px;
}

.insert_msg{
    font-style: italic;
}

.stars{
    color: rgb(189,152,82);
    /*text-align: center;*/
    padding-top: 20px;
    padding-bottom: 20px;
}

/****** Page Admin_pswd ******/

#passwordForm {
    margin:10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
}

#passwordForm li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}

#passwordForm label {
    margin:0 0 3px 0;
    padding:0px;
    display:block;
}

/****** Page brasseries ******/

.liste_brasseries{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.div_brasserie{
    background-color: white;
    color: black;
    text-align: center;
    width: 250px;
    height: 260px;
    padding: 5px;
    margin: 20px;
}

.nom_brasserie{
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.nom_brasserie:hover{
    color: rgb(189,152,82);
}

.site_brasserie{
    font-size: 0.8em;
    text-decoration: none;
    color: rgb(189,152,82);
}

.site_brasserie:hover{
    color: black;
}


/****** Page fiche_brasserie ******/

.fiche_brasserie_nom{
    color: rgb(189,152,82);
    font-size: 1.5em;
}

.flex_fiche_brasserie{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.fiche_brasserie_logo{
    margin-right: 20px;
}

.fiche_brasserie_site{
    text-decoration: none;
    color: white;
    font-size: 0.8em;
}

.fiche_brasserie_adresse{
    font-size: 0.8em;
}

.table_bieres{
    margin-top: 20px;
}

.td_type{
    padding-right: 20px;
    color: rgb(189,152,82);
}

.td_biere{
    padding-right: 20px;
}

.td_biere a{
    text-decoration: none;
    color: white;
}

.td_biere a:hover{
    color: rgb(189,152,82);
}

.td_degres{
    text-align: right;
    color: rgb(189,152,82);
}


/****** Page fiche_biere ******/

.fiche_biere_nom{
    color: rgb(189,152,82);
    font-size: 1.5em;
}

.fiche_biere_lien_brass{
    text-decoration: none;
    color: rgb(189,152,82);
}

.fiche_biere_lien_brass:hover{
    color: white;
}

.fiche_biere_description{
    max-width: 550px;
}

.flex_biere{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


/****** Page recherche ******/

#searchResults a{
    text-decoration: none;
    color: rgb(189,152,82);
}

#searchResults a:hover{
    color: white;
}

#searchResults ul{
    list-style-type: none;
}


/****** Media query ******/

@media screen and (max-width: 768px){

    #accueilBody {
    background-image: url(/images/beer-199650_1920_petit.jpg);
    background-repeat: no-repeat;
    }

    nav {
        z-index: 10;
        position: absolute;
        overflow: hidden;
        /*opacity: 0;*/
        /*height: auto;*/
        /*transform: translateY(0px);*/
        box-shadow: 2px 2px 1px 1px rgb(189,152,82);
    }

    nav ul {
        position: relative;
        background-color: black;
        transition: all 0.5s ease-in-out;
        top: -400px;
    }

    nav.menu_unfolded ul {
        transition: all 0.5s ease-in-out;
        /*opacity: 1;*/
        /*height: 400px;*/
        /*transform: translateY(-400px);*/
        top: 0px;
    }

    .invisible {
        display: none;
    }

    .pageBody{
        margin-left: 20px;
        margin-right: 20px;
    }

    /****** Icone hamburger ******/

    .burger_boite {
          z-index:    11;
          display:    block;
          position:   relative;
          top:        20px;
          left:       20px;
          width:      24px;
          height:     24px;
    }

    .burger_boite a  {
          display:   block;
          position:  absolute;
    }

    /* L'element */
    .burger, .burger::before, .burger::after {
          position:            absolute;
          top:                 12px;
          left;                0;
          width:               24px;
          height:              4px;
          background-color:    rgb(189,152,82);
          -moz-transition:     all 0.3s;
          -o-transition:       all 0.3s;
          -webkit-transition:  all 0.3s;
          transition:          all 0.3s;
    }

    .burger::before, .burger::after {
          content: "";
          display: block;
    }

    /* pour créer le hamburger, on décale les deux
     * barres de 8px
     */
    .burger::before {
          top: -8px;
    }

    .burger::after {
          top: 8px;
    }

    /* L'animation */
    .burger_boite:hover .burger {
          background-color: black;
    }
    .burger_boite:hover .burger::before {
          top:                 0px;
          -moz-transform:      rotate(-45deg);
          -ms-transform:       rotate(-45deg);
          -webkit-transform:   rotate(-45deg);
          transform:           rotate(-45deg);
    }

    .burger_boite:hover .burger::after {
          top:                 0px;
          -moz-transform:      rotate(45deg);
          -ms-transform:       rotate(45deg);
          -webkit-transform:   rotate(45deg);
          transform:           rotate(45deg);
    }
}
